<div class="coeContainer">
  <div class="coeTitle">
    <span class="cursive">C</span>alendar <span class="cursive">O</span>f <span class="cursive">E</span>vents
  </div>
  <table class="coeTable">
    <thead>
      <tr>
        <th>

        </th>
        <th>
          Mon-Fri
        </th>
        <th>
          Sat/Sun
        </th>
        <!--<th>
          Wed
        </th>
        <th>
          Thur
        </th>
        <th>
          Fri
        </th>
        <th>
          Sat/Sun
        </th>-->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Coffee Hour</td>
        <td>9:30am -11:00
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <td>10:00am -11:00
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <!--<td>10:00am -11:00
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <td>10:00am -11:00
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <td>10:00am -11:00
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <td>10:00am -11:00
          <a href="#" class="calendarJoin">Join!</a>
        </td>-->
      </tr>
      <tr>
        <td>Ladies Brunch</td>
        <td>11:00-12:30pm
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <td>11:30-1:00pm
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <!--<td>11:00-12:30pm
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <td>11:00-12:30pm
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <td>11:00-12:30pm
          <a href="#" class="calendarJoin">Join!</a>
        </td>
        <td>11:00-12:30pm
          <a href="#" class="calendarJoin">Join!</a>
        </td>-->
      </tr>
      <tr>
        <td>Afternoon Pets and Politics</td>
        <td>2:00-3:30pm</td>
        <td>3:00-4:30</td>
      <tr>
        <td>Evening Nightcap</td>
        <td>8:00-9:30pm</td>
        <td>9:00 - 10:30pm</td>
      </tr>
    </tbody>
  </table>
</div>