@import "variables";

.coeContainer {
  background: $lightBlue;
}

.coeTitle {
  color: $medBlue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.cursive {
  font-family: $cursiveFontStyle;
}

.coeTable {
  border-spacing: 0;
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em;
}

.coeTable th {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  line-height: 1em;
  color: $skyBlue;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  background-color: #1F2739;
}

.coeTable td {
  font-weight: normal;
  font-size: 1em;
  padding: 2rem;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}
/* Background-color of the odd rows */
.coeTable tr:nth-child(odd) {
  background-color: #323C50;
}
/* Background-color of the even rows */
.coeTable tr:nth-child(even) {
  background-color: #2C3446;
}

.coeTable td:first-child {
  color: $mainRaspberry;
  padding: 1.5rem;
}

.calendarJoin {
  opacity: 0;
  transition: all 0.5s;
}

.coeTable tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}

.coeTable td:hover .calendarJoin {
  opacity: 1;
}

.coeTable td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}
@media (max-width: 800px) {
  .coeTable td:nth-child(4),
  .coeTable th:nth-child(4) {
    display: none;
  }
}