//@import "_variables";
$mainYellow: #FFFF00; //
$funYellow: #FFD400;
$paleYellow: #fffdd0;
$mainBlue: #3CB4E5;
$medBlue: #00306B;
$darkBlue: #071d25;
$lightBlue: #C4E8F5;
$skyBlue: #c1ecf5;
$mainGrey: #474a51;
$neonBlue: #00DAFF;
$darkGrey: #2e3035;
$brightPurple: #6432F9;
$brightGreen: #49fb35;
$plum: #362674;
$mainGreen: #3EB650; //font-family: 'Dancing Script', cursive;
//font-family: 'Andika New Basic', sans-serif;
$cursiveFontStyle: 'Dancing Script', cursive;
$mainFontStyle: 'Andika New Basic', sans-serif;
$mainFontSize: 1.7rem;
$neonRaspberry: #FF006C;
$mainRaspberry: #e25098;