<div class="container">
  <div class="newFriends row">
    <div class="newFriendsDialogue">
      <div class="forPadding">
        <div class="nfdTitle">
          Make New Friends
        </div>
        <div class="nfdInfo">
          You can save friends easily
          from get togethers in order
          to contact them later or to
          invite them to your own get
          together
        </div>
      </div>
    </div>
    <div class="newFriendsPicture">
      <img src="./assets/pictures/elderberryScreen.png" alt="">
    </div>

  </div>
  <div class="oldFriends row">
    <div class="oldFriendsPicture">
      <img src="./assets/pictures/elderberrySmileTwo.png" alt="">
    </div>
    <div class="oldFriendsDialogue">
      <div class="forPadding">
        <div class="ofdtitle">
          Find Old Friends
        </div>
        <div class="ofdInfo">
          Search for friends and add
          them to your friends list to
          contact them or invite them
          to future gatherings
        </div>
      </div>
    </div>

  </div>
</div>