<div class="drawerMenu" [ngClass]='{untransform:showMenu}' (click)="showMenu = !showMenu">
  <div class=""><a href="#">Home</a></div>
  <div class=""><a href="#">Friends</a></div>
  <div class=""><a href="#">Calendar</a></div>
  <div class=""><a href="#">Contact</a></div>
  <div class=""><a href="#">{{showMenu}}</a></div>
</div>
<nav>
  <div class="navSideContainer">
    <div class="sectionsButton" (click)="showMenu = !showMenu">
      <div class="hamburgerMenu">
        <span class="hamburgerBar" [ngClass]='{hamburgerBar1:showMenu}'></span>
        <span class="hamburgerBar" [ngClass]='{hamburgerBar2:showMenu}'></span>
        <span class="hamburgerBar" [ngClass]='{hamburgerBar3:showMenu}'></span>
      </div>
      <div class="sectionsButtonTitle">
        sections
      </div>
    </div>
  </div>
  <div class="right navSideContainer">
    <div class="nav-label">
      <a href="#">login</a>
    </div>
    <div class="nav-label">
      <a href="#">search</a>
    </div>
  </div>
</nav>