@import "variables";

.homeContainer {
  padding: 2rem;
}

.welcomeTitle {
  color: $mainYellow;
  font-size: 2.5rem;
  padding-top: 0.4rem;
  padding-bottom: 3rem;
  transform: rotate(-5deg);

  .cursiveLetter {
    font-family: $cursiveFontStyle;
  }
}

.mainSeniorGathering {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
    height: auto;
  }
}